.wrapper {
    margin: auto;
    width: 70%;
}
.topmenu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin: 0;
    background-color: rgba(172, 226, 226, 0.952);
}
.topmenu > li {
    list-style: none;
    padding: 10px;
    color: white;
}
.flexgrow {
    display: flex;
    align-items: stretch;
}
leftbar, rightbar {
    background:rgba(196, 196, 196, 0.952);
}
footer {
    background-color: rgba(172, 226, 226, 0.952);
    color: white;
    height: 40px;
    text-align: center;
}
